@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #111111;
}

html {
  scroll-behavior: smooth;
}

body {
  background: white;
  color: #111;
  font-family: var(--font-inter);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-playfair);
}
html,
body {
  overflow-x: hidden;
}

* {
  box-sizing: border-box;
}